body {
  background-color: #f7f9fc; 
  font-family: Arial, sans-serif;
}

h2 {
  color: #22305d;
}

.navbar-brand {
  font-family: "Brush Script MT", cursive;
  font-size: 28px !important;
  color: #22305d !important;
}

.btn-primary {
  background-color: #22305d !important;
  border: none;
}

.btn-primary:hover {
  background-color: #1a2549 !important;
}

.btn-success {
  background: linear-gradient(to right, #0f9, #22305d) !important;
  border: none;
}

.btn-success:hover {
  opacity: 0.9;
}

.card {
  border-radius: 12px !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.badge {
  font-size: 0.8rem;
  padding: 6px 12px;
  border-radius: 20px;
}
